<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head"/>
<body>
<header th:replace="layout::site-header"/>
<h2>Поиск книг</h2>
<form th:action="@{/books}" method="get">
    <input type="text" name="name" id="search" placeholder="Введите название книги"/>
    <input type="submit" value="Поиск"/>
</form>

<div th:if="${not books.isEmpty()}">
    <h2>Список книг</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
        </tr>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}">Id</td>
            <td th:text="${book.name}">Name</td>
            <td th:text="${book.author.name}">Author</td>
            <form th:action="@{/books/delete}" method="post">
                <td><input type="hidden" name="id" th:value="${book.id}"/>
                    <button type="submit">Удалить</button>
                </td>
            </form>
        </tr>
    </table>
</div>

<footer th:replace="layout::site-footer"/>
</body>
</html>