<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h2>Search for books</h2>
<form th:action="@{/books}" method="get">
    <input type="text" name="name" id="search"/>
    <input type="submit" value="Search"/>
    <div th:if="${not books.isEmpty()}">
        <h2>Books List</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
            </tr>
            <tr th:each="book: ${books}">
                <td th:text="${book.id}">Id</td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.author.name}">Author</td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>