<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <title>Книги</title>
</head>
<body>
<header th:fragment="site-header">
    <a href="index" th:href="@{/}">Главная страница</a>
    <a href="books.html" th:href="@{/books}">Книги</a>
    <a href="books/edit" th:href="@{/books/edit}">Редактировать книги</a>
    <a href="books/delete" th:href="@{/books/delete}">Удалить книги</a>
</header>
<h1>Добро пожаловать!</h1>
<p>Здесь будут штуки с книжками</p>
<footer th:fragment="site-footer"> &copy; Книжки Книженьки Книжулечки, 2017</footer>
</body>
</html>